/*CLIENTES*/
@media screen and (max-width: 800px){
    .clientes .columna{
        width: 50%;
        padding-right: 6px;
        margin-top: 10%;
      }
    
      .fila img{
        margin-top: 30%;
        margin-bottom: 30%;
      }
    
      .clientes .fila{
        margin-left: 2%;
      }
    }